@model IEnumerable<CrudTest.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Clientes</h2>

<table border="1" class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Nascimento</th>
            <th>Gênero</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Cpf</td>
                    <td>@customer.Birth</td>
                    <td>@customer.Gender</td>
                </tr>
            }
        <hr />
    </tbody>
</table>