
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Clientes</h2>

<table border="1" class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Nascimento</th>
            <th>Gênero</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Luis</td>
            <td>372.976.248-61</td>
            <td>10/08/1989</td>
            <td>Masculino</td>
        </tr>
    </tbody>
</table>